{% extends 'blog/base.html' %}

{% block content %}
    <article class="album">
        <aside class="actions">
            {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'album_edit' pk=album.pk %}">
                {% include './icons/pencil-fill.svg' %}
            </a>
            {% endif %}
        </aside>
        {% if album.date_added %}
            <time class="date">
                {{ album.date_added }}
            </time>
        {% endif %}
        <h2>{{ album.title }}</h2>
        <p>{{ album.text|linebreaksbr }}</p>
    </article>
{% endblock %}