.page-header {
    background-color: #2bd55e;
    margin-top: 0;
    margin-bottom: 40px;
    padding: 20px 20px 20px 40px;
}

.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active {
    color: #691313;
    font-size: 36pt;
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    font-family: 'Lobster', cursive;
}

.date {
    color: #492424;
}

.save {
    float: right;
}

.album-form textarea,
.album-form input {
    width: 100%;
}

.top-menu,
.top-menu:hover,
.top-menu:visited {
    color: #050505;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.album {
    margin-bottom: 70px;
}

.album h2 a,
.album h2 a:visited {
    color: #000000;
}

.album > .date,
.album > .actions {
    float: right;
}

.btn-default,
.btn-default:visited {
    color: #C25100;
    background: #131110;
    border-color: #C25100;
}

.btn-default:hover {
    color: #050404;
    background-color: #C25100;
}

