{% extends 'beats/base.html' %}

{% block content %}
    <article class="album">
        <aside class="actions">
            {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'album_edit' pk=album.pk %}">
                {% include './icons/pencil-fill.svg' %} Edit
            </a>
            <a class="btn btn-default" href="{% url 'album_delete' pk=album.pk %}"
            onclick="return confirm('Give It Away Give It Away Give Away Now???')">
            {% include './icons/trash.svg' %} Delete
            </a>
            {% endif %}
        </aside>
        <h2>{{ album.title }}</h2>
        <h4>{{ album.artist }}</h4>
        <h5>{{ album.year|linebreaksbr }}</h5>
        <h5><a class="actions" href="{% url 'artist_page' pk=album.artist.pk %}">
            all titles by {{ album.artist }}
        </a>
        </h5>
        
    </article>
{% endblock %}